<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Multimodal Emotion AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Multimodal Emotion AI</h1>

        <p>
            Real-Time Emotion Recognition using
            Face, Voice and Text
        </p>

        <a href="/dashboard">
            <button>Start Emotion Detection</button>
        </a>

    </div>

</body>
</html>